{% extends "base.html" %}
{% block body %}
    <h5 class="card-title text-center">Choose Images</h5>
    <form class="form-signin" method="post" enctype=multipart/form-data>
        <label for="image">Choose image</label><br>
        <input type="file" class="input" name="image"><br>

        <label for="mask">Choose mask of image</label><br>
        <input type="file" class="input" name="mask"><br>

        
    
        <div class="dropdown-divider"></div>
        <input class="btn btn-lg btn-primary btn-block text-uppercase" name="upload" type=submit value=Upload>

    </form>
{% endblock %}