{% extends "base.html" %}
{% block editUser %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Classifier Data</h5>
                    <form class="form-signin" method="get" action="{{ url_for('main.classifierData') }}">

                        <p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">
                                Filtr/Search
                            </button></p>

                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <b>Name</b><br>
                                        <input name="m.name" type="text" id="name" class=""><br>
                                        <b>Creator name</b><br>
                                        <input name="c.name" type="text" id="creator-name" class=""><br>
                                    </div>
                                    <div class="col-sm-3">
                                        <b>Image type</b><br>
                                        <input name="a.image_type" type="text" id="acquisition-image-type" class=""><br>
                                        <b>Age approx</b><br>
                                        <input name="cl.age_approx" type="text" id="clinical-age-approx" class=""><br>
                                    </div>
                                    <div class="col-sm-3">
                                        <b>General anatomic site</b><br>
                                        <input name="cl.anatom_site_general" type="text" id="clinical-anatom-site-general"
                                            class=""><br>
                                        <b>Type</b><br>
                                        <select name="cl.benign_malignant" style="width: 181.6px; height: 30px;">
                                            <option  id="clinical-type-0" class=""></option>
                                            <option value="benign" id="clinical-type-1" class="">benign</option>
                                            <option value="malignant" id="clinical-type-2" class="">malignant</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <b>Diagnosis</b><br>
                                        <input name="cl.diagnosis" type="text" id="clinical-diagnosis" class=""><br>
                                        <b>Diagnosis confirmed as</b><br>
                                        <input name="cl.diagnosis_confirm_type" type="text" id="clinical-diagnosis-confirm"
                                            class=""><br>
                                    </div>
                                    <div class="col-sm-3">
                                        <b>Sex</b><br>
                                        <select name="cl.sex" style="width: 181.6px; height: 30px;">
                                            <option type="text" id="clinical-sex-0" class=""></option>
                                            <option type="text" id="clinical-sex-2" class="" value="male">male</option>
                                            <option type="text" id="clinical-sex-3" class="" value="female">female</option>
                                        </select>

                                        <div class="dropdown-divider"></div>

                                        <input name="page" type="hidden" value="{{ page }}">
                                        <button name="reset-page" class="badge badge-primary" value="reset-page">Submit Filters</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    <div class="float-right">
                        <p>
                        <button class="badge badge-light" name="prev-page" id="prev-page" value="prev-page">Prev page</button>
                        <small>Page <b>{{ page }}</b> from <b> {{ pages }}</b></small>
                        <button  class="badge badge-light" name="next-page" id="next-page" value="next-page">Next page</button></p>
                    </div>                        
                    </form>
                   



                    <div class="table-responsive">
                        <table id="dt-basic-checkbox" data-click-to-select="true" class="table table-sm" cellspacing="0"
                            width="100%">
                            <tr>
                                <th>Name</th>
                                <th>Creator name</th>
                                <th>Image type</th>
                                <th>Age approx</th>
                                <th>General anatomic site</th>
                                <th>Diagnosis</th>
                                <th>Diagnosis confirmed as</th>
                                <th>Sex</th>
                                <th>View Full</th>
                            </tr>
                            {% for row in data %}
                            <tr>
                                <td>{{ row.name }}</td>
                                <td>{{ row.creator.name }}</td>
                                <td>{{ row.meta.acquisition.image_type }}</td>
                                <td>{{ row.meta.clinical.age_approx }}</td>
                                <td>{{ row.meta.clinical.anatom_site_general }}</td>
                                <td>{{ row.meta.clinical.diagnosis }}</td>
                                <td>{{ row.meta.clinical.diagnosis_confirm_type }}</td>
                                <td>{{ row.meta.clinical.sex }}</td>
                                <td>
                                    <button class="btn" onclick="window.location.href='/fullPreview?id={{ row.id }}'"
                                        id="btn-{{ row.id }}"><i class="fas fa-edit"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}