{{ metadata._id }}
{{ metadata._modelType }}
{{ metadata.created }}
{{ metadata.creator._id }}
{{ metadata.creator.name }}
{{ metadata.dataset._accessLevel }}
{{ metadata.dataset._id }}
{{ metadata.dataset.description }}
{{ metadata.dataset.license }}
{{ metadata.dataset.name }}
{{ metadata.dataset.updated }}
{{ metadata.meta.acquisition }}
{{ metadata.meta.image_type }}
{{ metadata.meta.pixelX }}
{{ metadata.meta.pixelY }}
{{ metadata.clinical.age_approx }}
{{ metadata.clinical.anatom_site_general }}
{{ metadata.clinical.benign_malignant }}
{{ metadata.clinical.clin_size_long_diam_mm }}
{{ metadata.clinical.diagnosis }}
{{ metadata.clinical.diagnosis_confirm_type }}
{{ metadata.clinical.family_hx_mm }}
{{ metadata.clinical.melanocytic }}
{{ metadata.clinical.personal_hx_mm }}
{{ metadata.clinical.sex }}
{{ metadata.unstructured.change }}
{{ metadata.unstructured.changedtypeapr02_2015 }}
{{ metadata.unstructured.location }}
{{ metadata.unstructured.patientlocation }}
{{ metadata.unstructured.ptconcern }}
{{ metadata.unstructured.quantloc }}
{{ metadata.name }}
{{ metadata.notes.reviewed.accepted }}
{{ metadata.notes.reviewed.time }}
{{ metadata.notes.reviewed.userId }}
{% for tag in metadata.notes.tags %}
{{ tag }}
{% endfor %}
{{ metadata.updated }}
{{ metadata.image }}
{{ metadata.segmentation }}