{% extends "base.html" %}

{% block project %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        {% block body %}
<h4 class="card-title text-center">SCALP (Skin Cancer Classification Platform)</h4>
<p>This project is an university assignment task.</p>
<h5>Goal</h5>
<p>The goal of this project was to create a prototype platform for skin cancer classification.</p>
<h5>Introduction</h5>
<p>Skin cancer is one of most common type of cancer. Early and precise diagnosys can help make this disease less seviere and to treat it easier.</p>
<h5>ISIC Dataset</h5>
<blockquote>
<p>The International Skin Imaging Collaboration: Melanoma Project is an academia and industry partnership designed to facilitate the application of digital skin imaging to help reduce melanoma mortality. -- <cite>[ISIC website][1]</cite></p>
</blockquote>
<img src="https://github.com/szkocot/SCALP/blob/master/img/ISIC_0000000.jpg?raw=true" height="100">
<img src="https://github.com/szkocot/SCALP/blob/master/img/ISIC_0000010.jpg?raw=true" height="100">
<img src="https://github.com/szkocot/SCALP/blob/master/img/ISIC_0000020.jpg?raw=true" height="100">

<p>It contains thousands of skin images, annotated by professionals as well as non-profesional volunteers.</p>
<p>Labels are following:</p>
<ul>
<li>malignant</li>
<li>benign</li>
<li>unknown</li>
</ul>
<p>It's download can be much easier, by using ISIC Archive Downloader[2]</p>
<h5>Functionalities</h5>
<ul>
<li>Melanoma malignancy prediction using Convolutional Neural Network classifier</li>
<li>Visual representation of masked image and prediciton pie chart</li>
<li>Access and filtering ISIC database</li>
</ul>
<h5>Malignancy classification</h5>
<p>Melanoma malignancy can be classified with over 70% accurancy.<br />
This value may seem to be low, but you need to consider, that image and expert label quality is not that good.<br />
Masking and resizin of melanoma images helped to improve results by few percent.</p>
<img src="https://github.com/szkocot/SCALP/blob/master/img/acc.png?raw=true">

<p>References:<br />
[1]:https://isdis.org/isic-project/<br />
[2]:https://github.com/GalAvineri/ISIC-Archive-Downloader</p>

{% endblock %}

</div>
</div>
</div>
</div>
</div>

{% endblock %}s