{% extends "base.html" %}
{% block body %}

    <h5 class="card-title text-center">Administration Panel</h5>
    {% if users %}
        <h6> User List</h6>
        <div class="table-responsive">
            <table id="dt-basic-checkbox" data-click-to-select="true" class="table table-sm"
                   cellspacing="0" width="100%">
                <tr>
                    <th class="th-sm" data-sortable="true">#</th>
                    <th class="th-sm" data-sortable="true">Username</th>
                    <th class="th-sm" data-sortable="true">Name</th>
                    <th class="th-sm" data-sortable="true">Surname</th>
                    <th class="th-sm" data-sortable="true">E-mail</th>
                    <th class="th-sm" data-sortable="true">Admin</th>
                    <th class="th-sm" data-sortable="true">Edit</th>
                </tr>
                {% for user in users %}
                    <tbody>
                    <tr>
                        {% for field in user.__dict__ %}

                            <td>
                                {{ user.__dict__[field] }}
                            </td>
                        {% endfor %}
                        <td>
                            <button class="btn" onclick="window.location.href='/editUser?id={{  user.__dict__.get('id') }}'"
                                    id="btn-{{  user.__dict__.get('id') }}"><i class="fas fa-edit"></i></button>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% endif %}

{% endblock %}