{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Administration Panel</h5>
                    {% if users %}
                        <table>
                            <th> todo header</th>
                            {% for user in users %}
                                <tr>
                                    {% for field in user %}
                                        <td>
                                            {{ field }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}