{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Administration Panel</h5>
                        {% if users %}
                            <h6> User List</h6>

                            <div class="table-responsive">
                                <table id="dt-basic-checkbox" data-click-to-select="true" class="table table-sm"
                                       cellspacing="0" width="100%">
                                    <tr>
                                        <th class="th-sm" data-sortable="true">#</th>
                                        <th class="th-sm" data-sortable="true">Username</th>
                                        <th class="th-sm" data-sortable="true">Name</th>
                                        <th class="th-sm" data-sortable="true">Surname</th>
                                        <th class="th-sm" data-sortable="true">E-mail</th>
                                        <th class="th-sm" data-sortable="true">Admin</th>
                                        <th class="th-sm" data-sortable="true">Edit</th>
                                    </tr>
                                    {% for user in users %}
                                        <tbody>
                                        <tr>
                                            {% for field in user %}
                                                <td>
                                                    {{ field }}
                                                </td>
                                            {% endfor %}
                                            <td><button class="btn btn-block text-uppercase" onclick="window.location.href='/editUser?id={{ user[0]  }}'" id="btn-{{ user['id'] }}"></button></td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}