{% extends "base.html" %}
{% block editUser %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Edit</h5>
                        <form class="form-signin" method="post" action="{{ url_for('editUser') }}">
                            <input type="hidden" name="id" id="userId" value="{{ userData.get('id') }}">
                            <label for="username">Username</label>
                            <input disabled name="username" type="text" id="username"
                                   class="form-control form-label-group" value="{{ userData.get('username') }}">
                            <label for="name">Name</label>
                            <input name="name" type="text" id="name" class="form-control form-label-group"
                                   value="{{ userData.get('name') }}">
                            <label for="Surname">Surname</label>
                            <input name="surname" type="text" id="surname" class="form-control form-label-group"
                                   value="{{ userData.get('surname') }}">
                            <label for="email">E-mail</label>
                            <input name="email" type="email" id="email" class="form-control form-label-group"
                                   value="{{ userData.get('email') }}">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" name="admin" type="checkbox"
                                       id="admin" {{ 'checked' if userData.get('admin') else '' }}>
                                <label class="custom-control-label" for="admin">Admin access </label>
                            </div>
                            <div class="dropdown-divider"></div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Update data
                            </button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <form class="form-signin">
                            <button class="btn btn-lg btn-block btn-outline-danger text-uppercase"
                                    id="btn-delete"><i class="far fa-trash-alt"></i> Delete User
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('btn-delete').onclick = function () {
            let userId = parseInt(document.getElementById('userId').value);
            if (confirm("Are you sure? This action cannot be undone")) {
                window.location.href = '/delete?id=' + userId;
            } else {
                return false;
            }
        };
    </script>
{% endblock %}
