<div class="pagination pagination-right">
    <ul>
        <li{% if not pagination.prev_page %} class="disabled"{% endif %}><a
                {% if pagination.prev_page %}href="{{ url_for('index', page=pagination.prev_page) }}"{% endif %}>Prev</a>
        </li>
        {% for page in pagination.pages %}
            {% set url_paged = url_for('index', page=page) %}
            {% set url_not_paged = url_for('index') %}
            <li {% if page == pagination.current_page %}class="active"{% endif %}><a
                    {% if page != pagination.current_page %}href="
                            {% if page == 1 %}{{ url_not_paged }}{% else %}{{ url_paged }}{% endif %}"{% endif %}>{{ page }}</a>
            </li>
        {% endfor %}
        <li {% if not pagination.next_page %}class="disabled"{% endif %}><a
                {% if pagination.next_page %}href="{{ url_for('index', page=pagination.next_page) }}"{% endif %}>Next</a>
        </li>
    </ul>
</div>