{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                        <form method="post" action="{{ url_for('register') }}">
                            <label for="username">Username</label>
                            <input name="username" type="text" id="username" class="form-control form-label-group"
                                   placeholder="login"
                                   required autofocus>
                            <label for="password">Password</label>
                            <input name="password" type="password" id="password" class="form-control form-label-group"
                                   required
                                   autofocus>
                            <label for="name">Name</label>
                            <input name="name" type="text" id="name" class="form-control form-label-group"
                                   placeholder="name">
                            <label for="Surname">Surname</label>
                            <input name="surname" type="text" id="surname" class="form-control form-label-group"
                                   placeholder="surname">
                            <label for="email">Email</label>
                            <input name="email" type="email" id="email" class="form-control form-label-group"
                                   placeholder="email">
                            <input class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                                   value="Register">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
