{% extends "base.html" %}
{% block body %}
<div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Congratulations!</h5>
                        
                        You have just been registered.

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}